menu "Tempus Redux"

config CLOCKSON_WIFI_SSID
	string "WiFi Network"

config CLOCKSON_WIFI_PASSWORD
	string "WiFi Password"

config CLOCKSON_DHCP_HOSTNAME
	string "DHCP Hostname"

config CLOCKSON_OUTPUT_ACTIVE_LOW
	bool "Output is active low"
	default y
	help
		Configure whether time signalling is active low or high

config CLOCKSON_UI_LED_BRIGHTNESS
	int "RGB LED brightness"
	range 0 255
	default 8
	help
		Configure LED brightness.

endmenu
